<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{{ "/assets/images/favicons/favicon.png" | relative_url }}"/>
    <link rel="icon" href="{{ "/assets/images/favicons/favicon.png" | relative_url }}">

    <link rel="apple-touch-icon" href="{{ "/assets/images/favicons/touch-icon-iphone.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/images/favicons/favicon57.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/images/favicons/favicon72.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/images/favicons/touch-icon-ipad.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/images/favicons/favicon114.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/images/favicons/touch-icon-iphone-retina.png" | relative_url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/images/favicons/touch-icon-ipad-retina.png" | relative_url }}">

    <meta name="application-name" content="AutoTrader">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-square70x70logo" content="{{ "/assets/images/favicons/msapplication-tiny.png" | relative_url }}">
    <meta name="msapplication-square150x150logo" content="{{ "/assets/images/favicons/msapplication-square.png" | relative_url }}">
    <meta name="msapplication-wide310x150logo" content="{{ "/assets/images/favicons/msapplication-wide.png" | relative_url }}">
    <meta name="msapplication-square310x310logo" content="{{ "/assets/images/favicons/msapplication-large.png" | relative_url }}">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">

    {% seo %}

    {% if page.typescript-syntax %}
        <link rel="stylesheet" href="{{ "/assets/css/typescript-syntax-highlighting.css" | relative_url }}">
    {% endif %}
</head>
