.callout {
  margin: -5px 0 20px;
  border: 1px solid $at-grey-light;
  border-left: 5px solid $at-grey-dark;
  border-radius: 3px;
  padding: 20px 20px 0 20px;
  blockquote {
    border: none;
  }
}
p.callout {
  padding-bottom: 20px;
}