---
layout: default
---
<div class="post">

  <header class="post-header">
    <div style="float:right;"><a href="/">< Back to home</a></div>
    <h1 class="post-title">{{ page.title }}</h1>
    <div>
      <span class="post-meta">
        {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      </span>
      {% include social_share.html %}
    </div>
  </header>

  <article class="post-content">
    {{ content }}
    {% include social_share.html %}
    <span class=""></span><p>Enjoyed that? <a href="/">Read some other posts</a>.</p>
    {% include comments.html %}
  </article>

</div>
